  body{
            background-image:url(maxresdefault.jpg) ;
            background-repeat:no-repeat;
            background-size: 100%;

        }
  #abc{
      color:aqua;
      font-size:50px;

  }

  #abc ul {
      list-style:none;
      text-align:center;
      
 }

  
  #abc ul li {

    display:inline;  
    
    
 }
button {
    background-color: gainsboro;
    font-size: 40px;
}
   .img {
     margin: 5px;
    padding: 5px;
    border: 1px solid #0000ff;
     height: auto;
     width: auto;
     float: left;
     text-align: center;
 }

.img {
     display: inline;
     margin: 5px;
     border: 1px solid #ffffff;
 }

.img a:hover img {
     border:1px solid #0000ff;
 }

.desc {
     text-align: center;
     font-weight: normal;
     width: 120px;
     margin: 5px;
 }
  